.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.content {
  width: 350px;
  height: 150px;
}

.content,
.content > h6 {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.bg-secondary {
  background-color: #cccccc !important;
}